<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <receiver android:name="com.mg.winkl.receiver.NotificationClickReceiver" />
        <receiver android:name="com.mg.winkl.service.LocalService$ScreenStateReceiver"
            tools:ignore="Instantiatable"
            android:exported="true"
            android:enabled="true"/>

        <activity
            android:name="com.mg.winkl.activity.OnePixelActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/onePixelActivity" />

        <service android:name="com.mg.winkl.service.LocalService"
            android:priority="1000"
            android:foregroundServiceType="specialUse"
            android:exported="true">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="explanation_for_special_use" />
        </service>

        <service android:name="com.mg.winkl.service.HideForegroundService" />

        <service
            android:name="com.mg.winkl.service.JobHandlerService"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_JOB_SERVICE" >
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="explanation_for_special_use" />

        </service>

        <service
            android:name="com.mg.winkl.service.RemoteService"
            android:foregroundServiceType="specialUse"
            android:process=":remote" >
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="explanation_for_special_use" />
        </service>
    </application>
</manifest>
